
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

html,
body{
  margin: 0px;
  overflow: hidden;
}


h2{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}


header.header-logo {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.video-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: max-content;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: max-content;
  margin: auto;
}

.table {
  border: 2px solid #eee;
  -webkit-box-shadow: 0px 0px 75px -17px rgb(15 82 140);
  -moz-box-shadow: 0px 0px 75px -17px rgba(15,82,140,1);
  box-shadow: 0px 0px 75px -17px rgb(15 82 140);
}

h3 {
  background: #034f84;
  margin: 0;
  padding: 10px;
  color: white;
}

.content-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
}

.bold {
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background: none;
  border: 2px solid #034f84;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  color: orange;
  font-weight: 900;
}


.wrapper {
  position: relative;
  max-width: 1298px;
  height: auto;
  margin: 2em auto 0 auto;
}

/* https://www.flaticon.com/authors/vectors-market */
/* https://www.flaticon.com/authors/icomoon */
.box {
  max-width: 70%;
  min-height: auto;
  margin: 0 auto;
  padding: 1em 1em;
  text-align: center;
  background: url("https://www.dropbox.com/s/xq0841cp3icnuqd/flame.png?raw=1") no-repeat top 10em center/128px 128px,
              transparent url("https://www.dropbox.com/s/w7qqrcvhlx3pwnf/desktop-pc.png?raw=1") no-repeat top 13em center/128px 128px;
}

h1, p:not(:last-of-type) { text-shadow: 0 0 6px #216f79; }


p {
  margin-bottom: 0.5em;
  font-size: 3em;
}

p:first-of-type { margin-top: 4em; }

p > a {
  border-bottom: 1px dashed #216f79;
  font-style: italic;
  text-decoration: none;
  color: #216f79;
}

p > a:hover { text-shadow: 0 0 6px #216f79; }

p img { vertical-align: bottom; }
